<div class="face-snap-card" [ngClass]="{snapped:buttonText==='Oops, unSnap!' }">
    <h2>{{faceSnap.title | uppercase}}</h2>

    <p>Mis en ligne {{faceSnap.createdDate |date:'le dd/MM/yy  HH:mm'}}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{faceSnap.description}}</p>
    <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
    <p>
        <button (click)="onSnap()">Oh Snap!</button>
       <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">🤌 {{ faceSnap.snaps }}</span>
       
    </p>
    
</div>

